html{
    height: 100%;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/great-coffee-bean.jpeg);
    background-color: rgba(110, 134, 141, 0.911);
    background-position: center;


}
 .contact img{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/great-coffee-bean.jpeg);
    height: 100px;
    width: 150px; 
    margin-left: auto;
    margin-right: auto;
    width: 1024px;}


img{
    height: 100px;
    width: 150px;

}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    }
header{
    /* background-color: cornflowerblue; */
    height: 118px;
    text-align:center;
 
}

nav{
    background-color: rgba(119, 115, 115, 0.39);
    /* height: 40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
 
}
.navbar-links ul {
    margin: 0;
        padding: 0;
        display: flex;
         text-align: center;
        list-style: none;
        text-decoration: none;
        color: white;
        display: block;
        padding: 1rem;
        list-style: none;
   
}
/* .menu li{ */
    

/* } */
.navbar-links li:hover{
    background-color: rgba(216, 191, 216, 0.746);
   
}

main{
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    
}
h1{
    font-size: 45px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-style: italic;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
footer{
    background-color:rgba(21, 20, 22, 0.644);
    padding-top: 15px;
    padding-bottom: 15px;
    
 
}
a{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    
}
nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


footer p{
    font-size: 12px;
    text-align: center;
    color: aliceblue;
}
.video{
    padding-bottom: 100px;
    

}
.maps{
    padding-bottom: 100px;
}
.logo{
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(119, 115, 115, 0.39);
    /* height: 40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
    
}

